<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Activité des Commits</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {packages: ['corechart', 'line']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Time');
        data.addColumn('number', 'Commits');

        data.addRows([
          // Les données passées à la template depuis Flask seront insérées ici.
          // Format attendu : [['2024-02-11 11:57', 1], ['2024-02-11 11:58', 2], ...]
          {% for commit in commit_data %}
            ['{{ commit.time }}', {{ commit.count }}],
          {% endfor %}
        ]);

        var options = {
          title: 'Activité des Commits par Minute',
          hAxis: {
            title: 'Temps',
            slantedText: true,
            slantedTextAngle: 45
          },
          vAxis: {
            title: 'Nombre de Commits'
          },
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <h1>Graphique des Commits</h1>
    <div id="chart_div" style="width: 100%; height: 500px;"></div>
  </body>
</html>
